<!-- Header -->
<div class="flex items-center justify-center fixed top-0 left-0 w-full h-[60px] z-50 dark:bg-slate-900">
  <p class="text-xl font-bold text-white dark:text-white">GoSchool</p>
</div>
<!-- Page Wrapper -->
<div class="bg-gray-50 dark:bg-slate-900 pt-[60px] min-h-screen flex justify-center items-center">
  <div class="w-full md:w-2/6 py-10  mr-4 ml-4 border border-purple-400 border-t-[20px] border-b-4 border-b-purple-400 rounded-md shadow-md bg-white dark:bg-slate-900">
    
    <!-- Title -->
    <div class="text-center text-2xl md:text-3xl py-5 dark:text-gray-50">
      Register
    </div>
    
    <!-- Subtitle -->
    <div class="text-center text-sm py-2 dark:text-gray-400 mb-4">
        Please fill in the form to create an account.
    </div>

    <!-- Form -->
    <form id="contact_us_form"[formGroup]="form">
      <div class="space-y-5 ml-4 mr-4 px-3 md:px-0 ">
        
        <!-- First Name -->
        <div class="relative">
          <input type="text" name="fname" id="fname" autocomplete="off"  formControlName="firstName"
            class="px-4 py-2 peer w-full border border-purple-400 bg-gray-50 shadow-sm placeholder-transparent text-purple-600 focus:outline-none rounded-md focus:border-purple-600 focus:ring focus:ring-purple-300 focus:ring-opacity-50 dark:bg-slate-800 dark:text-gray-50"
            placeholder="First Name" />
            <!-- Label -->
          <label for="fname"
            class="bg-gray-50 px-2 absolute left-2 -top-3.5 text-gray-600 text-sm transition-all peer-focus:-top-3 peer-focus:bg-gray-50 peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 dark:peer-focus:bg-slate-800 dark:bg-slate-800 dark:text-gray-50">
            First Name
          </label>
           <!-- Error message -->
          <div class="text-pink-600 text-sm" *ngIf="form.get('firstName')?.touched && form.get('firstName')?.invalid">
            {{ getErrorMessage('firstName') }}
          </div>
        </div>

        <!-- Last Name -->
        <div class="relative">
          <input type="text" name="surname" id="surname" autocomplete="off" formControlName="surname"
            class="px-4 py-2 peer w-full border border-purple-400 bg-gray-50 shadow-sm placeholder-transparent text-purple-600 focus:outline-none rounded-md focus:border-purple-600 focus:ring focus:ring-purple-300 focus:ring-opacity-50 dark:bg-slate-800 dark:text-gray-50"
            placeholder="Surname" />
            <!-- Label -->
          <label for="surname"
            class="bg-gray-50 px-2 absolute left-2 -top-3.5 text-gray-600 text-sm transition-all peer-focus:-top-3 peer-focus:bg-gray-50 peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 dark:peer-focus:bg-slate-800 dark:bg-slate-800 dark:text-gray-50">
            Surname
          </label>
           <!-- Error message -->
          <div class="text-pink-600 text-sm" *ngIf="form.get('surname')?.touched && form.get('surname')?.invalid">
            {{ getErrorMessage('surname') }}
          </div>
        </div>
        
         <!-- Contacts -->
         <div class="relative">
          <input type="text" name="contact" id="contact" autocomplete="off" formControlName="contact"
            class="px-4 py-2 peer w-full border border-purple-400 bg-gray-50 shadow-sm placeholder-transparent text-purple-600 focus:outline-none rounded-md focus:border-purple-600 focus:ring focus:ring-purple-300 focus:ring-opacity-50 dark:bg-slate-800 dark:text-gray-50"
            placeholder="Contact" />
            <!-- Label -->
          <label for="contact"
            class="bg-gray-50 px-2 absolute left-2 -top-3.5 text-gray-600 text-sm transition-all peer-focus:-top-3 peer-focus:bg-gray-50 peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 dark:peer-focus:bg-slate-800 dark:bg-slate-800 dark:text-gray-50">
            Contact
          </label>
           <!-- Error message -->
          <div class="text-pink-600 text-sm" *ngIf="form.get('contact')?.touched && form.get('contact')?.invalid">
            {{ getErrorMessage('contact') }}
          </div>
        </div>

        <!-- Email -->
        <div class="relative">
          <input type="email" name="email" id="email" autocomplete="off" formControlName="email"
            class="px-4 py-2 peer w-full border border-purple-400 bg-gray-50 shadow-sm placeholder-transparent text-purple-600 focus:outline-none rounded-md focus:border-purple-600 focus:ring focus:ring-purple-300 focus:ring-opacity-50 dark:bg-slate-800 dark:text-gray-50"
            placeholder="Email Address" />
            <!-- Label -->
          <label for="email"
            class="bg-gray-50 px-2 absolute left-2 -top-3.5 text-gray-600 text-sm transition-all peer-focus:-top-3 peer-focus:bg-gray-50 peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 dark:peer-focus:bg-slate-800 dark:bg-slate-800 dark:text-gray-50">
            Email Address
          </label>
         <!--<div class="peer-invalid:mt-2 hidden peer-invalid:block text-pink-600 text-sm">
            Please provide a valid email address.
          </div>-->
           <!-- Error message -->
          <div class="text-pink-600 text-sm" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
            {{ getErrorMessage('email') }}
          </div>
        </div>

        <!-- Button -->
        <div class="flex space-x-4">
          <button type="button" (click)="previousStep.emit()"
            class="w-full rounded-md bg-purple-600 hover:bg-purple-700 hover:shadow-md py-3 text-white">
            Cancel
          </button>
          <button type="button" (click)="nextStep.emit()"
            class="w-full rounded-md bg-purple-600 hover:bg-purple-700 hover:shadow-md py-3 text-white">
            Next
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
