.logout-dialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  width: 320px;
  max-width: 90%;
  text-align: center;
  margin: auto ;
}

.logout-dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}
