<div class="dashboard-container">

  <!-- Reusable sidebar -->
  <app-admin-sidebar (sectionChange)="onSidebarChange($event)">
  </app-admin-sidebar>

  <div class="dashboard-main">

    @if(activeSection === 'home'){
    <app-admin-home-view [admin]="admin" [drivers]="drivers" [parents]="parents" [activeTab]="activeTab"
      [currentPage]="currentPage" [pageSize]="pageSize" [isProfileOpen]="isProfileOpen"
      [selectedDriver]="selectedDriver" [selectedParent]="selectedParent" (setTab)="setTab($event)"
      (toggleProfile)="toggleProfile()" (driverSelect)="selectDriver($event)" (parentSelect)="selectParent($event)"
      (pageChange)="currentPage = $event">
    </app-admin-home-view>
    }

    <div *ngIf="activeSection === 'view'">
      <!-- VIEW CONTENT -->
      <div class="dashboard-main">
        <div class="top-navbar">
          <div class="profile-section">
            <div class="profile-info">

              <button class="profile-btn" (click)="toggleProfile()">
                <img class="profile-img" src="svg/profile.svg" alt="profile" />
                <span class="profile-name">{{ admin.firstName }}</span>
                <img [src]="isProfileOpen ? 'png/arrow_drop_up.png' : 'png/arrow_drop_down.png'" alt="arrow"
                  class="arrow" />
              </button>

              <!-- Dropdown Menu -->
              <div class="dropdown-menu" *ngIf="isProfileOpen">
                <button class="dropdown-item">My Profile</button>
                <button class="dropdown-item">Settings</button>
                <button class="dropdown-item">Logout</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="activeSection === 'settings'">
      <!-- SETTINGS CONTENT -->
      <div class="dashboard-main">
        <div class="top-navbar">
          <div class="profile-section">
            <div class="profile-info">

              <button class="profile-btn" (click)="toggleProfile()">
                <img class="profile-img" src="svg/profile.svg" alt="profile" />
                <span class="profile-name">{{ admin.firstName }}</span>
                <img src="png/arrow_drop_down.png" alt="" class="arrow">
              </button>

              <!-- DROPDOWN MENU -->
              <div class="dropdown-menu" *ngIf="isProfileOpen">
                <button class="dropdown-item">My Profile</button>
                <button class="dropdown-item">Settings</button>
                <button class="dropdown-item">Logout</button>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>