<div class="container">
     <div class="drivers-available">
          <h1 class="text-[20px] font-semibold text-transparent bg-clip-text bg-gradient-to-r from-purple-200 to-purple-900">
               Drivers Available
          </h1>

          <div class="carousel">
               <div class="carousel-track">
                    <div class="card">
                         <div class="card-info">
                               <div class="driver-name">
                                   <p><strong>Name</strong> </p>
                                   <span>Jimmy Johnson</span>
                              </div>
                              <div class="driver-location">
                                  <p><strong>Location:</strong></p>
                                  <span>Midrand</span>
                              </div>
                         </div>
                         <div class="card-created">
                              
                               <div class="driver-location">
                                   <p><strong>Created:</strong> Sep 14, 2025</p>
                              </div>
                              
                             
                              <p class="status completed">Completed</p>
                         </div>
                         <button class="details-btn">View Details</button>
                    </div>
               </div>
          </div>
     </div>
</div>