<!-- component -->
 <div class="w-full max-w-md mx-auto p-0">
  <div>
    <!-- Title -->
    <h1  class="text-[20px] font-semibold text-transparent bg-clip-text bg-gradient-to-r from-purple-200 to-purple-900 mt-4  mb-4">
      Add/Update Information
    </h1>

    <!-- Card -->
    <div class="bg-gradient-to-l from-[#3E4C70] via-[#547A8C] to-[#6D9CAB] shadow-md rounded-2xl divide-y divide-slate-100">
      <!-- Row 1 - Profile -->
      <div class="flex items-center justify-between p-4 cursor-pointer" (click)="openProfile()">
        <div class="flex items-center gap-3">
          <!-- Icon -->
        
           <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24">
        <path fill="#FFF1F1" d="M11 17h2v-4h4v-2h-4V7h-2v4H7v2h4v4Zm-6 4q-.825 0-1.413-.588T3 19V5q0-.825.588-1.413T5 3h14q.825 0 1.413.588T21 5v14q0 .825-.588 1.413T19 21H5Z"/>
      </svg>
          <!-- Label -->
          <span class="text-[#FFF1F1] font-medium">Add Student Info</span>
        </div>
        <!-- Next Icon -->
        <svg class="w-5 h-5 text-[#FFF1F1]" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
      </div>
      
        
      <!-- Row 2 - Personal Details -->
      <div class="flex items-center justify-between p-4 cursor-pointer" (click)="openPersonalDetails()">
        <div class="flex items-center gap-3">
          <!-- Icon -->
          <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"><path fill="#FFF1F1" d="M11 19h2v-4.175l1.6 1.6L16 15l-4-4l-4 4l1.425 1.4L11 14.825V19Zm-5 3q-.825 0-1.413-.588T4 20V4q0-.825.588-1.413T6 2h8l6 6v12q0 .825-.588 1.413T18 22H6Zm7-13h5l-5-5v5Z"/></svg>
          <!-- Label -->
          <span class="text-[#FFF1F1] font-medium">Upload Proof Of Payment</span>
        </div>
        <!-- Next Icon -->
        <svg class="w-5 h-5 text-[#FFF1F1]" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
      </div>
    </div>
  </div>

  
  <div class="main-content">
    <!-- This outlet will show either SettingsScreen OR Profile, etc. -->
    <router-outlet></router-outlet>
  </div>
</div>
