<div class="register-wizard" [ngSwitch]="currentStep">

  <app-register-user-info 
     *ngSwitchCase="1"
    [form]="form"
    (nextStep)="onNextStep()"
    (previousStep)="onPreviousStep()">
  </app-register-user-info>

  <app-user-location 
    *ngSwitchCase="2"
    [form]="form"
    (nextStep)="onNextStep()"
    (previousStep)="onPreviousStep()">
  </app-user-location>

  <app-account-setup 
    *ngSwitchCase="3"
    [form]="form"
    (nextStep)="onNextStep()"
    (previousStep)="onPreviousStep()">
  </app-account-setup>

 <app-review-submit
   *ngSwitchCase="4"
  [form]="form"
  (previousStep)="onPreviousStep()"
  (submitForm)="onSubmitForm()">
</app-review-submit>


</div>
