<!-- Header -->
<div class="flex items-center justify-center fixed top-0 left-0 w-full h-[60px] z-50 dark:bg-slate-900">
    <p class="text-xl font-bold text-white dark:text-white">GoSchool</p>
</div>
<!-- Page Wrapper -->
<div class="bg-gray-50 dark:bg-slate-900 pt-[60px] min-h-screen flex justify-center items-center">
    <div
        class="w-full md:w-2/6 py-10 mr-4 ml-4 border border-purple-400 border-t-[20px] border-b-4 border-b-purple-400 rounded-md shadow-md bg-white dark:bg-slate-900">
        <!-- Title -->
        <div class="text-center text-2xl md:text-3xl py-5 dark:text-gray-50">Location</div>

        <!-- Subtitle -->
        <div class="text-center text-sm py-2 dark:text-gray-400 mb-4">
            Please provide your location.
        </div>

        <!-- Form -->
        <form id="contact_us_form" [formGroup]="form">
            <div class="space-y-5 ml-4 mr-4 px-3 md:px-0">
                <!-- Postal Code -->
                <div class="relative">
                    <input type="text" name="suburb" id="suburb" autocomplete="off" formControlName="suburb"
                        class="px-4 py-2 peer w-full border border-purple-400 bg-gray-50 shadow-sm placeholder-transparent text-purple-600 focus:outline-none rounded-md focus:border-purple-600 focus:ring focus:ring-purple-300 focus:ring-opacity-50 dark:bg-slate-800 dark:text-gray-50"
                        placeholder="Enter Suburb" />
                        <!-- Label -->
                    <label for="suburb"
                        class="bg-gray-50 px-2 absolute left-2 -top-3.5 text-gray-600 text-sm transition-all peer-focus:-top-3 peer-focus:bg-gray-50 peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 dark:peer-focus:bg-slate-800 dark:bg-slate-800 dark:text-gray-50">
                        Suburb
                    </label>
                     <!-- Error message -->
                    <div class="text-pink-600 text-sm"
                        *ngIf="form.get('suburb')?.touched && form.get('suburb')?.invalid">
                        {{ getErrorMessage('suburb') }}
                    </div>
                </div>
                <!-- City -->
                <div class="relative">
                    <input type="text" name="city" id="city" autocomplete="off" formControlName="city"
                        class="px-4 py-2 peer w-full border border-purple-400 bg-gray-50 shadow-sm placeholder-transparent text-purple-600 focus:outline-none rounded-md focus:border-purple-600 focus:ring focus:ring-purple-300 focus:ring-opacity-50 dark:bg-slate-800 dark:text-gray-50"
                        placeholder="Enter your City" />
                        <!-- Label -->
                    <label for="city"
                        class="bg-gray-50 px-2 absolute left-2 -top-3.5 text-gray-600 text-sm transition-all peer-focus:-top-3 peer-focus:bg-gray-50 peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 dark:peer-focus:bg-slate-800 dark:bg-slate-800 dark:text-gray-50">
                        City
                    </label>
                     <!-- Error message -->
                    <div class="text-pink-600 text-sm" *ngIf="form.get('city')?.touched && form.get('city')?.invalid">
                        {{ getErrorMessage('city') }}
                    </div>
                </div>

                <!-- Address -->
                <div class="relative">
                    <input type="text" name="address" id="address" autocomplete="off" formControlName="address"
                        class="px-4 py-2 peer w-full border border-purple-400 bg-gray-50 shadow-sm placeholder-transparent text-purple-600 focus:outline-none rounded-md focus:border-purple-600 focus:ring focus:ring-purple-300 focus:ring-opacity-50 dark:bg-slate-800 dark:text-gray-50"
                        placeholder="Enter your Street Address" />
                        <!-- Label -->
                    <label for=""
                        class="bg-gray-50 px-2 absolute left-2 -top-3.5 text-gray-600 text-sm transition-all peer-focus:-top-3 peer-focus:bg-gray-50 peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 dark:peer-focus:bg-slate-800 dark:bg-slate-800 dark:text-gray-50">
                       Street Address
                    </label>
                     <!-- Error message -->
                    <div class="text-pink-600 text-sm"
                        *ngIf="form.get('address')?.touched && form.get('address')?.invalid">
                        {{ getErrorMessage('address') }}
                    </div>
                </div>

                <!-- Postal Code -->
                <div class="relative">
                    <input type="text" name="postalCode" id="postalCode" autocomplete="off" formControlName="postalCode"
                        class="px-4 py-2 peer w-full border border-purple-400 bg-gray-50 shadow-sm placeholder-transparent text-purple-600 focus:outline-none rounded-md focus:border-purple-600 focus:ring focus:ring-purple-300 focus:ring-opacity-50 dark:bg-slate-800 dark:text-gray-50"
                        placeholder="Enter Postal Code" />
                        <!-- Label -->
                    <label for="postalCode"
                        class="bg-gray-50 px-2 absolute left-2 -top-3.5 text-gray-600 text-sm transition-all peer-focus:-top-3 peer-focus:bg-gray-50 peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 dark:peer-focus:bg-slate-800 dark:bg-slate-800 dark:text-gray-50">
                        Postal Code
                    </label>
                     <!-- Error message -->
                    <div class="text-pink-600 text-sm"
                        *ngIf="form.get('postalCode')?.touched && form.get('postalCode')?.invalid">
                        {{ getErrorMessage('postalCode') }}
                    </div>
                </div>

                <!-- Province -->
                <div class="relative">
                    <select formControlName="province" title="Select Province"
                        class="px-4 py-2 peer w-full border border-purple-400 bg-gray-50 shadow-sm text-purple-600 rounded-md focus:outline-none focus:border-purple-600 focus:ring focus:ring-purple-300 focus:ring-opacity-50 dark:bg-slate-800 dark:text-gray-50">
                        <!-- Default option -->
                        <option value="" disabled selected>Select a Province</option>

                        <!-- Provinces -->
                        <option *ngFor="let province of provinces" [value]="province">
                            {{ province.replace('_', ' ') }}
                        </option>
                    </select>

                    <!-- Floating label -->
                    <label class="absolute left-3 top-2 text-gray-400 pointer-events-none"
                        [class.hidden]="form.get('province')?.value">
                        Select a Province
                    </label>
                     <!-- Error message -->
                    <div class="text-pink-600 text-sm" *ngIf="form.get('province')?.touched && form.get('province')?.invalid">
                        {{ getErrorMessage('province') }}
                    </div>
                </div>

                <!-- Going to the back screen / forward one -->
                <div class="flex space-x-4">
                    <button type="button" (click)="goPrevious()"
                        class="w-full rounded-md bg-purple-600 hover:bg-purple-700 hover:shadow-md py-3 text-white">
                        Back
                    </button>
                    <button type="button" (click)="goNext()"
                        class="w-full rounded-md bg-purple-600 hover:bg-purple-700 hover:shadow-md py-3 text-white">
                        Next
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>